section{
    display: flex;
    justify-content:space-around;

}
article{
    border: 0.3em solid;
    width: 21em;
    height:32em;
    padding: 1em;
}
header{
    text-align: center;
    padding: 1em;
}
footer{
    text-align: center;
    padding: 1em;
}