*{
    font-family:monospace;
}
body{
    background-color: darkslateblue;
}
section{
    display: flex;
    justify-content:space-around;

}
article{
    border: 0.3em solid;
    width: 21em;
    height:32em;
    padding: 1em;
    background-color: rgba(240, 255, 255, 0.894);
    animation-name:bounce;
    animation-delay:1s;
}
header{
    text-align: center;
    padding: 0.3em;
    color:azure;
    text-decoration: underline;
}
h1{
    font-size: 3em;
}
footer{
    text-align: center;
    padding: 1em;
    color:azure;
}
button{
    background-color: azure;
    color:darkslateblue;
    font-size: 1.2em;
    width: 7em;
    height: 3em;
}
h3{
    font-size: 2em;
    text-align:center;
}
ul, dl{
    font-size: 1.2em;
}
button:hover{
    background-color: rgb(49, 39, 111);
    color:azure;
}
tbody, tr, td{
    border: 0.2em solid;
    border-collapse: collapse;
}
table{
    display: flex;
    justify-content: center;
}
@keyframes bounce{
    from {
        transform: scale(0.2,0.2);
    }
    to{
        transform: scale(0,0);
    }
}