*{
    font-family:monospace;
}
body{
    background-color: darkslateblue;
}
section{
    display: flex;
    justify-content:space-around;

}
article{
    border: 0.3em solid;
    width: 21em;
    height:32em;
    padding: 1em;
    background-color: rgba(240, 255, 255, 0.894);
}
article:hover{
    width: 24em;
    height:35em;
}
header{
    text-align: center;
    padding: 0.3em;
    color:azure;
    text-decoration: underline;
    animation: slide 15000ms;
    animation-iteration-count: infinite;
}
@keyframes slide{
    from {
        transform: translateX(-100%);
    }
    to{
        transform: translateX(100%);
    }
}
h1{
    font-size: 3em;
}
footer{
    text-align: center;
    padding: 1em;
    color:azure;
}
button{
    background-color: azure;
    color:darkslateblue;
    font-size: 1.2em;
    width: 7em;
    height: 3em;
    animation: col 6000ms;
}
h3{
    font-size: 2em;
    text-align:center;
}
ul, dl{
    font-size: 1.2em;
}
button:hover{
    background-color: rgb(49, 39, 111);
    color:azure;
}
tbody, tr, td{
    border: 0.2em solid;
    border-collapse: collapse;
}
table{
    display: flex;
    justify-content: center;
}
@keyframes col{
    from{
        background-color: darkslateblue;
    }
    to{
        background-color:rgba(71, 61, 139, 0);
    }
}
button:active{
    background-color:crimson;
    color:azure;
}